{{#each charms}}
    <li class="item">
        <img src="{{img}}" alt="{{name}}" class="img">
        <h2 class="title">{{name}}</h2>
        <h3 class="notch">Charm notch cost: {{notch}}</h3>
    </li>
{{/each}}